h1{
    color:blue;
}

#container{
    display:flex;
    max-width: 480px;
    max-height: 480px;
    flex-wrap: wrap;
    margin: 0 auto;
    /* background-color: */
}

.box,
.effect {
    box-sizing: border-box;
    width:30px;
    height:30px;
    border: 1px solid black;
    
}
.effect{
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
    background-color: grey;
}
.effect:hover {
    background-color: gray;
    transition: opacity 0.2s ease;
    transform: scale(1.04);
}
