h1{
    color:blue;
}

#container{
    display:flex;
    max-width: 480px;
    max-height: 480px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box,
.effect {
    box-sizing: border-box;
    width:30px;
    height:30px;
    border: 1px solid black;
    transition-timing-function: ease-out;
}
.effect:hover {
    background-color: gray;
    /* transition-duration: 3s; */
}
