
#btnFrame{
    display:flex;
    text-align: center;
}
button{
    margin: 0 auto;
    margin-bottom: 20px;
}

#container{
    display:flex;
    max-width: 640px;
    max-height: 640px;
    flex-wrap: wrap;
    margin: 0 auto;
    /* background-color: */
}

.box,
.effect {
    box-sizing: border-box;
    /* width:40px;
    height:40px; */
    border: 1px solid black;
    
}
.effect{
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
    
}
.effect:hover {
    
    transition: opacity 0.2s ease;
    transform: scale(1.04);
}
